<div class="container">
  <h1>Add Your Trip</h1>

  <form method="post" action="/trips">
    <fieldset>
        Title:
        <input type="text" name="title" placeholder="e.g., 12 Days in Northern California">
        <br>

        Category:
        <input type="text" name="category" placeholder="e.g., Adventure, Family, Romance, etc">
        <br>

        Season:
        <input type="text" name="season" placeholder="Spring, Summer, Fall, Winter">
        <br>

        Comments:
        <input type="text" name="comments" placeholder="Make sure you pack sunscreen!">

     <!--    <textarea name="myTextBox" cols="50" rows="5"placeholder="Enter text">
        Enter some text...
        </textarea> -->

        <br>

        <input type="submit" class="pure-button pure-button-primary">Add Trip</input>
    </fieldset>
</form>
</div>
