<h1>Sign IN!</h1>

<% if @login_failed %>
  <h2> Bad email or password - try again!</h2>
<% end %>

<form action='/sessions' method='post'>
  <input type='text' name='email' placeholder='email'/>
  <input type='text' name='password' placeholder='password'/>
  <input type='submit' value='signin'/>
</form>