/* Table of Contents */
/* -------------------------------- */
/* Global
/* Header
/* Page Structure
/* Headings
/* Text Styles
/* Navigation
/* Forms
/* Comments
/* Extras



/* ---------------------------- */
/* ------->>> GLOBAL <<<------- */
/* ---------------------------- */





/* ---------------------------- */
/* ------->>> HEADER <<<------- */
/* ---------------------------- */


.nav_bar_login {
  font-size: 1em;
  right: 0.5em;
  top: 0.5em;
  position: right;
  right: 0.1em;
}


/* ---------------------------- */
/* --->>> PAGE STRUCTURE <<<--- */
/* ---------------------------- */




/* ---------------------------- */
/* ------>>> HEADINGS <<<------ */
/* ---------------------------- */




/* ---------------------------- */
/* ----->>> TEXT STYLES <<<---- */
/* ---------------------------- */




/* ---------------------------- */
/* ----->>> NAVIGATION <<<----- */
/* ---------------------------- */



/* ---------------------------- */
/* ------->>> FORMS <<<-------- */
/* ---------------------------- */



/* ---------------------------- */
/* ------>>> COMMENTS <<<------ */
/* ---------------------------- */

/* ---------------------------- */
/* ------->>> EXTRAS<<< ------- */
/* ---------------------------- */