/* Table of Contents */
/* -------------------------------- */
/* Global
/* Header
/* Page Structure
/* Headings
/* Text Styles
/* Navigation
/* Forms
/* Comments
/* Extras



/* ---------------------------- */
/* ------->>> GLOBAL <<<------- */
/* ---------------------------- */

.home {
  text-align: center;
}



/* ---------------------------- */
/* ------->>> HEADER <<<------- */
/* ---------------------------- */

.left-header {
  position: absolute;

  background-color: #f0f0f0;
}

.right-header {
}

.main {
  text-align: center;
  position: relative;
}





/* ---------------------------- */
/* --->>> PAGE STRUCTURE <<<--- */
/* ---------------------------- */




/* ---------------------------- */
/* ------>>> HEADINGS <<<------ */
/* ---------------------------- */




/* ---------------------------- */
/* ----->>> TEXT STYLES <<<---- */
/* ---------------------------- */




/* ---------------------------- */
/* ----->>> NAVIGATION <<<----- */
/* ---------------------------- */



/* ---------------------------- */
/* ------->>> FORMS <<<-------- */
/* ---------------------------- */



/* ---------------------------- */
/* ------>>> COMMENTS <<<------ */
/* ---------------------------- */

/* ---------------------------- */
/* ------->>> EXTRAS<<< ------- */
/* ---------------------------- */