 Table of Contents */
/* -------------------------------- */
/* Global
/* Header
/* Page Structure
/* Headings
/* Text Styles
/* Navigation
/* Forms
/* Comments
/* Extras



/* ---------------------------- */
/* ------->>> GLOBAL <<<------- */
/* ---------------------------- */

.nav-bar {
  text-align: center;
}


.search_bar {
  margin: 1em;
  position: absolute;
  right: 0px;
}




/* ---------------------------- */
/* ------->>> HEADER <<<------- */
/* ---------------------------- */

.nav-bar {
  position: absolute;
  background-color: #f0f0f0;
}

.main {
  text-align: center;
  position: absolute;
}

.header {
  position: relative;
  background-image: url("../imgs/polyjpg.jpg");
  background-repeat: repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

/* ---------------------------- */
/* ------->>> FOOTER <<<------- */
/* ---------------------------- */

.footer {
  position: relative;
  bottom: 0px;
  background-image: url("../imgs/grey_wash.png");
  background-repeat: repeat;

  height: 200px;
  width: 100%;
}



/* ---------------------------- */
/* ----->>> SIGNIN PAGE <<<---- */
/* ---------------------------- */

.container {
  margin: 50px auto;
  width: 640px;
}

.session_new {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}

.session_new h1 {
  text-align: center;
}



/* ---------------------------- */
/* --->>> HOME PAGE <<<--- */
/* ---------------------------- */

.browse_trips {
  font-size: 20px;
  color: #777;
  text-align: center;
  margin: 2em;
}

/* ---------------------------- */
/* --->>> LISTS <<<--- */
/* ---------------------------- */





/* ---------------------------- */
/* ------>>> SHOW TRIPS <<<------ */
/* ---------------------------- */

#trip_header {
  list-style: none;
}

ul#accordion, ul#accordion ul { list-style: none; margin: 0; }

ul#accordion ul li:last-child { border-bottom: none; }

ul#accordion a.heading {
    background: #F4FFF9;
    color: #999;
    display: block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 5px;
    text-decoration: none;
}
ul#accordion a.heading:hover {
  background: #00B9D2; color: #fff;
  }

ul#accordion li ul a { border-bottom: 1px solid #00B9D2; color: #025185; text-decoration: none; }
ul#accordion li ul a:hover { border-bottom: none; }
ul#accordion li ul .date { padding-right: 10px; }
ul#accordion li ul .count { padding-left: 10px; }


/* ---------------------------- */
/* ----->>> TEXT STYLES <<<---- */
/* ---------------------------- */




/* ---------------------------- */
/* ----->>> NAVIGATION <<<----- */
/* ---------------------------- */



/* ---------------------------- */
/* ------->>> FORMS <<<-------- */
/* ---------------------------- */



/* ---------------------------- */
/* ------>>> COMMENTS <<<------ */
/* ---------------------------- */




/* ---------------------------- */
/* ------->>> EXTRAS<<< ------- */
/* ----------------------------