<h1>Sign up</h1>

<form action="/users" method="post">
  <input type="text" name="username" placeholder="username"><br><br>
  <input type="text" name="first_name" placeholder="first name">
  <input type="text" name="last_name" placeholder="last name"><br><br>
  <input type="text" name="email" placeholder="email"><br><br>
  <input type="password" name="password" placeholder="password"><br><br>
  <input type="submit">
</form>