
<div class="container">
    <h1>Add City</h1>

    <form class="pure-form pure-form-stacked" method="post" action="/trips/<%=@trip.id%>/destinations">

        <label class="city" form="city">City</label>
        <input type="text" id="city" name="city" placeholder="e.g., San Francisco" >

        <label class="country" form="country">Country</label>
        <input type="text" name="country" placeholder="e.g., USA" >

        <label class="days" form="days">Days</label>
        <input type="text" name="days" placeholder="e.g., 5">

        <label class="highlights" form="highlights">Highlights</label>
        <input type="text" name="highlights" placeholder="e.g., Beach volleyball at Playa Carmen">

        <label class="lodging" form="lodging">Lodging</label>
        <input type="text" name="lodging" placeholder="e.g., Hilton del Playa">

        <label class="transportation" form="transportation">Transportation</label>
        <input type="text" name="transportation" placeholder="e.g., Hilton del Playa">

        <br>
        <br>

        <button type="submit" class="pure-button pure-button-primary">Submit</button>

    </form>
</div>