<div class="global-header">
</div>


<div class="browse_trips">
  Browse all trips
</div>


<div class="main_body">

  <div id="trip_left">
    "Trip left image"
  </div>

  <div id="trip_middle">
    "trip middle image"
  </div>

  <div id="trip_right">
    "trip right image"
  </div>

</div>



<div class="second_body">
  <div class="add_trips">
    Add Your Trip
  </div>
</div>

<div class="footer">

</div>





