<div class="header">

  <div class="nav_bar">

    <div class="pure-menu pure-menu-horizontal">

      <a href="/" class="pure-menu-heading pure-menu-link">Triprute</a>

      <ul class="pure-menu-list">

        <% if current_user %>

         <li class="pure-menu-item">
          <a href="/trips" class="pure-menu-link">Browse Trips
          </a>
        </li>

        <li class="pure-menu-item">
          <a href="/users/<%= @user.id %>" class="pure-menu-link">My profile
          </a>
        </li>

        <li class="pure-menu-item">
          <a href="/signout" class="pure-menu-link">Sign out
          </a>
        </li>
        <!-- <h1>Welcome back, <%= current_user.first_name %></h1> -->

        <% else %>

        <li class="pure-menu-item">
          <a href="/users/new" class="pure-menu-link">Sign up
          </a>
        </li>

        <li class="pure-menu-item">
          <a href="/sessions/new" class="pure-menu-link">Sign in
          </a>
        </li>

        <% end %>

          <li class="pure-menu-item">
          <form class="pure-menu-link" action="/trips/new" method="get">
            <input type="submit" value="Add an Itinerary!">
          </form>
        </li>

      </ul>
    </div>
  </div>
</div>


<div class="browse_trips">
  Browse all trips
</div>


<div class="footer">

</div>





