<div class="global-header">
</div>


<div class="browse_trips">
  Browse all trips
</div>


<div class="main_body">

  <div class="row">
    <div class="col-xs-6 col-sm-4" id="card-one">"Trip left image"</div>
    <div class="col-xs-6 col-sm-4" id="card-two">"trip middle image"</div>

    <div class="col-xs-6 col-sm-4" id="card-three">"trip right image"</div>
  </div>

</div>



<div class="second_body">
  <div class="add_trips">
    <h1>Add Your Trip<h1>
      <h3>Share your trip with others or discover your next adventure.</h3>
      <form action="/trips/new" method="get">
          <input type="submit" value="GET STARTED">
      </form>
  </div>
</div>

<div class="footer">

</div>





