<div class="container">
  <h1>Add a Citaaaay!</h1>

  <form id="new_city" method="post" action="/city">

    <label class="label" form="city">City</label>
    <input type="text" name="city" placeholder="e.g., San Francisco" >
    <br>

    <label class="label" form="country">Country</label>
    <input type="text" name="country" placeholder="e.g., USA" >
    <br>

    <label class="label" form="highlights">Highlights</label>
    <input type="text" name="highlights" placeholder="e.g., Beach volleyball at Playa Carmen">
    <br>

    <label class="label" form="lodging">Lodging</label>
    <input type="text" name="lodging" placeholder="e.g., Hilton del Playa">
    <br>

    <label class="transportation" form="transportation">Transportation</label>
    <input type="text" name="transportation" placeholder="e.g., Hilton del Playa">
    <br>

    <label class="days" form="days">Days</label>
    <input type="text" name="days" placeholder="e.g., 5">
    <br>
    <div class="submit">
      <input type="submit" value="Add another city">
      <input type="submit" value="Finish itinerary">
    </div>
  </form>

</div>