<h1>Sign up</h1>

<form action="signup" method="post">
  <input type="text" name="username" placeholder="username"><br><br>
  <input type="text" name="email" placeholder="email"><br><br>
  <input type="text" name="passphrase" placeholder="passwurrrrd"><br><br>
  <input type="submit">
