<h1>Sign IN!</h1>

<% if @login_failed %>
  <h2> Bad email or password - try again!</h2>
<% end %>

<form action='/signin' method='post'>
  <input type='text' name='email' placeholder='email'/><br><br>
  <input type='text' name='password' placeholder='password'/><br><br>
  <input type='submit' value='signin'/>
</form>